.container {
  border: 1px solid rgba(154, 154, 154, 0.21);
  height: 600px;
  width: 1150px;
  margin: 0 auto;
  -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.75);
}

.topDiv {
  border: 1px solid rgba(154, 154, 154, 0.21);
  height: 50px;
  width: 1150px;
}

.topLeft {
  float: left;
  border: 1px solid rgba(154, 154, 154, 0.21);
  height: 50px;
  width: 30%;
  background-color: rgba(154, 154, 154, 0.21);
}

.topRight {
  float: right;
  border: 1px solid rgba(154, 154, 154, 0.21);
  height: 50px;
  width: 69.64%;
  background-color: rgba(154, 154, 154, 0.21);
}

.middleDiv {
  border: 1px solid rgba(154, 154, 154, 0.21);
  height: 548px;
  width: 1150px;
}

.middleLeftDiv {
  float: left;
  border: 1px solid rgba(154, 154, 154, 0.21);
  height: 547px;
  width: 30%;
}

.middleRightDiv {
  float: right;
  border: 1px solid rgba(154, 154, 154, 0.21);
  height: 485px;
  width: 69.64%;
}

.newMessageDiv {
  float: right;
  width: 69.64%;
  height: 60px;
  border: 1px solid rgba(154, 154, 154, 0.21);
  background-color: rgba(176, 171, 171, 0.18);
}

.newMessageDiv input {
  width: 655px;
  height: 40px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 7px;
  border: hidden;
  border-radius: 10px 10px 10px 10px;
}

input[type="text"] {
  padding-left: 5px;
  font-family: Tahoma;
  font-size: 15px;
}

.lastMessage {
  font-size: 13px;
  font-family: Tahoma;
  margin-right: 10px;
  float: right;
}

.contactName {
  font-size: 15px;
  font-family: Tahoma;
  margin-left: 10px;
  font-weight: bold;
}

.contactList img {
  margin-left: 10px;
  margin-top: 1px;
  float: left;
}

p {
  border: 1px solid;
  border-radius: 8px;
  margin-bottom: 0;
}

.messageInfo {
  margin-right: 400px;
  margin-left: 400px;
}
.messageInfo span {
  margin-left: 310px;
}

.userMessage span {
  padding-left: 360px;
}

.userMessage {
  padding-left: 400px;
}
