#root {
  background-color: #ffffff;
}
.container {
  height: 600px;
  width: 1150px;
  margin: 0 auto;
  background-color: #ffffff;
}

.topDiv {
  height: 50px;
  width: 1150px;
}

.topLeft {
  float: left;
  height: 50px;
  width: 30%;
  background-color: #f5f5f5;
}

.topRight {
  float: right;
  height: 50px;
  width: 69.64%;
  background-color: #ffffff;
}

.middleDiv {
  height: 548px;
  width: 1150px;
}

.middleLeftDiv {
  float: left;
  height: 547px;
  width: 30%;
  background-color: #f5f5f5;
}

.middleRightDiv {
  float: right;
  height: 485px;
  width: 70%;
  background-color: #fdfdfd;
  overflow: scroll;
}

.newMessageDiv {
  float: right;
  width: 69.64%;
  height: 60px;
  background-color: rgba(176, 171, 171, 0.18);
}

.newMessageDiv input {
  width: 655px;
  height: 40px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 7px;
  border-radius: 10px 10px 10px 10px;
}

input[type="text"] {
  padding-left: 5px;
  font-family: Tahoma;
  font-size: 15px;
}

.lastMessage {
  font-size: 13px;
  font-family: Tahoma;
  margin-right: 10px;
  float: right;
}

.contactName {
  font-size: 15px;
  font-family: Tahoma;
  margin-left: 10px;
  font-weight: bold;
}

.contactList img {
  margin-left: 10px;
  margin-top: 1px;
  float: left;
}

p {
  border-radius: 8px;
  margin-bottom: 0;
  background-color: #ecebed;
  padding: 10px;
}

.messageInfo {
  margin-right: 400px;
  margin-left: 400px;
}
.messageInfo span {
  margin-left: 300px;
  padding: 10px;
}

.userMessage span {
  padding-left: 350px;
}

.userMessage {
  padding-left: 400px;
}

.userMessage p {
  background-color: #7e8cfc;
  color: #ffffff;
  padding: 10px;
}
